# Entornos y editor
.vscode
env
__pycache__/
*.pyc

# Credenciales y variables de entorno (¡importante!)
.env
*.env
config.json
.snowsql/

# Jupyter
.ipynb_checkpoints/

# Datos (opcional, según el caso)
data/
*.csv